<html>
  <head>
    <title></title>
    <meta content="">
    <style></style>
  </head>
  <body>
    <h1>Установка visiodesk</h1>
    Для установки Visiodesk тебуется скачать с хранилища: <a href="https://github.com/NPPElement/visiobas-broker">https://github.com/NPPElement/visiobas-broker</a> и запустить клонирование системы:
    <code>
      ~# cd /opt/<br>
      ~# git clone https://github.com/NPPElement/visiobas-broker.git services<br>
      ~# chmod 755 /opt/services
      ~# bash run/install.sh #для чистой установки нужно поправить данный файл.<br>
      ~# добавить пользователя в rabbitmq (расширить)!.<br>
      ~# если пароли были изменены со стандартных, то нужно исправить файл: conf/visiodesk/configuration/standalone.xml.<br>
    </code>
    <h1>Базовые команды для работы с docker</h1>
    <code>
      ~# docker ps — узнать список запущенных контейнеров<br>
      ~# docker restart visiodesk — перезапустить контейнер visiodesk<br>
      ~# docker restart $(docker ps -q) — перезапустить все запущенные контейнеры<br>
      ~# docker ps -q | xargs docker restart — другой вариант перезапуска всех запущенных контейнеров<br>
      ~# docker exec -it visiodesk /bin/bash — подключение к контейнеру visiodesk<br>
      ~# docker attach visiodesk — подключение к контейнеру visiodesk<br>
      ~# docker inspect -f "{{ .NetworkSettings.IPAddress }}" visiodesk — подключение к контейнеру через ssh<br>
    </code>
    <h1>Базовые команды для работы с rabbitmq</h1>
    <code>
      ~# rabbitmqctl status — проверка состояния сервиса;<br>
      ~# rabbitmqctl change_password USERNAME PASSWORD — изменение пароля для пользователя;<br>
      ~# rabbitmqctl add_user USERNAME PASSWORD — добавляет нового пользователя;<br>
      ~# rabbitmqctl set_user_tags USERNAME administrator — устанавливает группу пользователя;<br>
      ~# rabbitmqctl set_permissions USERNAME ".*" ".*" ".*" — команда выставляет для пользователя право на настройку, чтение и запись;<br>
      ~# rabbitmqctl list_users — показать список пользователей;<br>
      ~# /usr/lib/rabbitmq/bin/rabbitmq-plugins enable rabbitmq_management — запуск модуля для доступ через web;<br>
      ~# systemctl restart rabbitmq-server.service — перезапуск сервиса;<br>
      проверить работоспособность доступа можно через web по порту 15672.
    </code>
    <h1>Добавление нового объекта / локации</h1>
    <ol>
      <li>Открыть cloud9 по адресу http://217.28.222.125:9999/;</li>
      <li>Подготовленную карту местности в формате .png (например barnaul.png) нужно загрузить в директорию map;</li>
      <li>Дальше требуется открыть терминал в директории map (cd /opt/services/home/visiodesk/svg/map/) и запустить обновление с помощью build_tile.sh с передачей имени нового файла с картой (sh build_tile.sh barnaul.png);</li>
      <li>В течении некоторого времени будет сгенерированы файлы для системы;</li>
      <li>Перенесите base в директорию tile и переименуйте base;</li>
      <li>Дальше требуется подготовить конфигурацию маркеров и сохранить их в формате .csv;</li>
      <li>В системе http://217.28.222.125/ нужно обновить страницу и импортировать конфигурацию карты (например barnaul.csv);</li>
      <li>Ещё раз обновите страницу, после чего должна появится новая карта с объектами.</li>
    </ol>
    
    <h1>Пароль в cloud9</h1>
    Для установки пароля или его изменения требуется в контейнере внести следующие изменения:
    <code>
      ~# docker exec -it cloud9 /bin/bash<br>
      ~# docker exec -it cloud9-php /bin/bash<br>
      ~# vim.tiny configs/standalone.js<br>
      
      .describe("auth", "Basic Auth username:password")<br>
      .default("auth", "user:NEWPASSWORD")<br>
    </code>
  </body>
</html>
